.meus-filmes {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Adiciona centralização vertical se necessário */
    width: 100%; /* Garante que o contêiner ocupe a largura total */
}

    .meus-filmes h1 {
        margin-bottom: 14px;
    }

    .meus-filmes span {
        font-size: 18px;
    }

    .meus-filmes ul {
        width: 100%;
        max-width: 720px;
        padding: 0 20px;
        margin: 0 auto; /* Centraliza a lista horizontalmente */
        list-style: none;
    }

        .meus-filmes ul li {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 14px;
        }

    .meus-filmes div {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .meus-filmes div a {
            text-decoration: none;
            color: #116feb;
            margin-right: 14px;
        }

.favoritos-buttons button, .favoritos-buttons a {
    margin-left: 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
}

    .favoritos-buttons button:hover, .favoritos-buttons a:hover {
        background-color: brown;
        color: white;
    }

/* Media query para telas menores que 720px */
@media (max-width: 720px) {
    .meus-filmes ul li {
        flex-direction: column;
        align-items: center; /* Centraliza os itens verticalmente */
        text-align: center; /* Centraliza o texto */
    }

    .meus-filmes div {
        flex-direction: column;
        align-items: center; /* Garante que os botões e links também estejam centralizados */
    }

        .meus-filmes div a, .favoritos-buttons button, .favoritos-buttons a {
            margin-bottom: 10px;
            width: 100%;
        }
}

/* Ajustes adicionais para telas muito pequenas */
@media (max-width: 480px) {
    .meus-filmes ul {
        padding: 0 10px;
    }
}