.filme-info {
    margin: 0 auto;
    margin-top: 18px;
    display: flex;
    flex-direction: column;
    max-width: 800px;
    padding: 0 8px;
}

    .filme-info h1 {
        margin: 14px 0;
    }

    .filme-info img {
        border-radius: 8px;
        width: 900px;
        max-width: 100%;
        max-height: 340px;
        object-fit: cover;
    }

    .filme-info h3 {
        margin-top: 14px;
    }

    .filme-info span {
        margin: 8px 0;
    }

.filme-buttons button {
    margin-right: 12px;
    margin-top: 14px;
    margin-left: 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
}

    .filme-buttons button:hover, .filme-buttons button:hover a {
        background-color: brown;
        color: white;
    }

.filme-buttons a {
    text-decoration: none;
    color: black;
}